.body {
  max-width: 1140px;
  min-width: 320px;
  font-family: Poppins;
  height: auto;
  margin: auto;
  margin-top: 24px;
}
.heroSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 72px;
  justify-content: space-between;
  padding-bottom: 36px;
  padding-left: auto;
  padding-right: auto;
}
.textInputAndButton {
  align-items: center;
  align-content: center;
  width: 45%;
  min-width: 320px;
  justify-content: space-between;
}

h1 {
  font-weight: 500;
}
em {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textToConvert {
  max-width: 600px;
  min-width: 320px;
  min-height: 120px;
  border-radius: 4px;
  border-style: solid;
  font-family: poppins;
  padding: 4px;
  display: block;
  border-color: #eaeaea;
}
.convert {
  margin: 24px 0px;
  background-color: #f5e050;
  color: #000000;
  font-family: poppins;
  font-weight: 600;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
}
img {
  width: 45%;
  min-width: 320px;
}
.outputText {
  max-width: 100%;
  min-width: 320px;
  max-height: fit-content;
  text-align: center;
  color: #3b3b3b;
}
#outputText {
  margin-top: 16px;
}
